@use "@/styles/foundation/variables" as *;
.search {
  padding-inline-start: 3rem;
  margin: 0;
  background: white url('/icon/search.svg') no-repeat 1rem center;
  max-width: 20rem;
  flex: auto;
  @include respond-md{
    width: 20rem;
  }
}

